body
{
    background-image:url(https://media.istockphoto.com/id/1502033887/sv/vektor/beige-gray-grainy-gradient-background-poster-backdrop-noise-texture-webpage-header-wide.jpg?s=612x612&w=0&k=20&c=KNVXoj7sR_QqNGpcWT8IJTD3rvVqyz9GpYoFb-w4oTU=);
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
    text-align: center;
    
   
}

form div label
{
    width:100px;
    text-align: right;
    
}

table
{
    margin-left: auto;
    margin-right: auto;
    
}


.b1
{ 
    background-color:black;
    text-align: center;

}